div.header
  div.title Live Image Drawing App
  div.listening

#settings
  | Size: 
  input#size(type='number', value='5')
  | Color:
  input#color(class="color", value="FF0000")

div#things
  div#close
    &cross;
  div#clear
    &#9986;
  div#download
    a &downarrow;
    
div.container
  div.canvas
    canvas(id="canvas", height="800vh", style={background: '#fff'})

div.footer
  input#url(type='text', placeholder="Insert Image URL Here", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Insert Image URL Here'")
